


<!DOCTYPE html>
<html lang="en" ng-app="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>is bett.er</title>
	<script src="js/jquery-2.1.1.js"> </script>
	<script src="js/d3.js"> </script>
	<script src="js/d3.layout.cloud.js"> </script>
	<script src="js/angular.js"> </script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.min.js"></script>   
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
	<script src="js/bootstrap.js"> </script>
	<script src="js/ui-bootstrap-tpls-0.11.0.js"></script>
	<script src="js/canvasjs.min.js"></script>
	<script src="app.js"></script>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="bttrController">
<div id="first">
<input ng-model="item1" />
<div id="cloud1"> </div>
  <div id="sent1" style="height: 300px; width: 300px;" ></div>

</div>
<div id="second" >
<input ng-model="item2" /> 
<div id="cloud2"> </div>
  <div id="sent2" style="height: 300px; width: 300px;"> </div>

</div>
 <button ng-click="populate1(item1,item2)">Get Sentiment</button>
  </body>
</html>